/* Horarios */

.h1hotel {
    color: white;
    text-align: center;
}
.horarios{
    display:flex;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-left: 20%;
    justify-content: space-around;
}
td,th{
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    
}
tr:nth-child(2),th{
    background-color: #de9bbe;
    color: #5d734d;
}
tbody>tr>td:nth-child(1){
    background-color: #9aa2d0;
    color: white ;
}
tbody>tr>td{
    background-color: #65c7e0;
    color: #4b5c3f;
}
tbody>tr>td{

}

/* Colores de la tabla */


.hs tr:nth-child(3)>td:nth-child(2){
    background-color: #f5d0e1;
}

.hs tr:nth-child(4)>td:nth-child(2){
    background-color: #e8cfe5;
}
.hs tr:nth-child(4)>td:nth-child(3),
.hs tr:nth-child(4)>td:nth-child(4),
.hs tr:nth-child(6)>td:nth-child(7),
.hs tr:nth-child(6)>td:nth-child(8) {
    background-color: #d4d7e8;
}
.hs tr:nth-child(5)>td:nth-child(2){
    background-color: #bcd7e8;
}
.hs tr:nth-child(6)>td:nth-child(2),
.hs tr:nth-child(6)>td:nth-child(4),
.hs tr:nth-child(6)>td:nth-child(6){
    background-color: #a5ddea;
}
.hs tr:nth-child(8)>td:nth-child(2), 
.hs tr:nth-child(8)>td:nth-child(4){
    background-color: #98dbe3;
}
.hs tr:nth-child(6)>td:nth-child(5),
.hs tr:nth-child(6)>td:nth-child(3){
    background-color: #a2dedf;
}
.hs tr:nth-child(7)>td:nth-child(2){
    background-color: #9ddad5;
}
.hs tr:nth-child(5)>td:nth-child(3),
.hs tr:nth-child(5)>td:nth-child(4){
    background: linear-gradient( to  bottom, #bcd7e8, #aab1db);
}
.hs tr:nth-child(8)>td:nth-child(3){
    background: linear-gradient( to bottom, #9ddad5, #b7c3ca);
}
/* Formulario de reservas */
header{
    display: flex;
    min-height: 90px;
    background-color: rgb(49, 54, 54);
    align-items: center;
    justify-content: center;
    
   
}

h1{
    color: beige;
    
}

h5{
    color: beige;
}

h6{
    color: beige;
}
section{
    color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
    background: rgb(49, 54, 54);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    
}



.controls{
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid rgb(228, 228, 220);
    
}
form{
    justify-content: space-between;
    align-items: self-start;
}

footer{
    display: flex;
    min-height: 90px;
    background-color: rgb(49, 54, 54);
    text-align: left;
    justify-content: space-around;
    
}

