/* Horarios */ç

.tabla{
    color: white;
    text-align: center;
}
.horarios{
    display:flex;
    justify-content: space-around;
}
td,th{
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    
}
tr:nth-child(2),th{
    background-color: #e8e1bc;
    color: #5d734d;
}
tbody>tr>td:nth-child(1){
    background-color: #5d734d;
    color: white !important;
}
tbody>tr>td{
    background-color: #b7c8a6;
    color: #4b5c3f;
}
tbody>tr>td{

}

/* Formulario de reservas */
header{
    display: flex;
    min-height: 90px;
    background-color: rgb(49, 54, 54);
    align-items: center;
    justify-content: center;
    
   
}

h1{
    color: beige;
}

h5{
    color: beige;
}

h6{
    color: beige;
}
section{
    color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
    background: rgb(49, 54, 54);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    
}



.controls{
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid rgb(228, 228, 220);
    
}
form{
    justify-content: space-between;
    align-items: self-start;
}

footer{
    display: flex;
    min-height: 90px;
    background-color: rgb(49, 54, 54);
    text-align: left;
    justify-content: space-around;
    
}

